{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'frontend/img/favicon.png' %}" type="image/gif">
     <meta name="description" content="Loanplus - Loan Company">
    <meta name="keywords" content="Home Loan ">
    <title>Loanplus | Apply Now & Get Instant Approval</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/reset.css' %}">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/responsive.css' %}">
</head>

<body class="js">
    <div id="preloader"></div>
    <!-- start header area -->
    <div class="second-topbar">
        <div class="container">
            <div class="row">
                <div class="col-md-8 text-left">
                    <div class="left-topbar">
                        <ul>
                            <li><i class="fa fa-globe"></i>Loanplus IN . </li>
                            <li><i class="fa fa-envelope"></i>mailus@loanplus.com </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <div class="second-social">
                    {% if user.is_authenticated %}
                        <div class="dropdown my_ac">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hi, {{user.first_name}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{% url 'dashboard' %}">Dashboard</a>
                            <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                        </div>
  
                    {% else %}
                        <a href="{% url 'login' %}">Login</a>
                        <a href="{% url 'register' %}">Register</a>
                    {% endif %}    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of topbar area -->
    <!-- start logo menu area -->
    <header class="second-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="second-logo">
                        <a href="{% url 'index' %}"><img src="{% static 'frontend/img/logo-2.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-10">
                    <div id="cssmenu">
                            <ul>
                                <li ><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'about' %}">About us </a></li>
                                <li><a href="{% url 'services' %}">Services</a></li>
                                <li> <a href="{% url 'calculator' %}">EMI Calculator</a></li>
                                <li><a href="#">Contact us</a></li>
                            </ul>
                        </div>
                </div>
                <div class="col-lg-2">
                    <a href="{% url 'loan_form' %}" class="btn btn-primary btn-sm"> APPLY NOW</a>
                </div>
            </div>
        </div>
    </header>
    <!-- /header -->
    <!-- end of logo menu area -->
    <!-- start slider area -->
    <section class="main-slider-area">
        <div class="active-main-slider owl-carousel">
            <div class="main-slider-item" style="background-image: url({% static 'frontend/img/slider-2.jpg' %});">
                <div class="slider-one-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-left">
                                <div class="main-slider-welcome-text slidertwo">
                                    <div class="slider-cell">
                                        <h2 class="sub-title" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRIght">Leading bank loan provider in the market</h2>
                                        <h2 class="main-title" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutLeft">Are you looking for business
<br>enhancement loan?</h2>
                                        <div class="welcome-button" data-animation-in="fadeInDown" data-animation-out="animate-out fadeOutDown">
                                            <a href="#" class="btn btn-default button-primary">Apply Loan</a>
                                            <a href="#" class="button-secondary btn btn-default">Contact Us</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-slider-item" style="background-image: url({% static 'frontend/img/slider-1.jpg' %});">
                <div class="slider-one-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="main-slider-welcome-text slidertwo">
                                    <div class="slider-cell">
                                        <h2 class="sub-title" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutLeft">98% Customer Satisfied with us.</h2>
                                        <h2 class="main-title" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutLeft">Download our free app to check

<br>your interest rate</h2>
                                        <div class="welcome-button" data-animation-in="fadeInLeft" data-animation-out="animate-out fadeOutLeft">
                                            <a href="#" class="btn btn-default button-primary"><span></span>  App STORE</a>
                                            <a href="#" class="button-secondary btn btn-default"><span></span>  PLAY STORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-slider-item" style="background-image: url({% static 'frontend/img/slider-2.jpg' %});">
                <div class="slider-one-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="main-slider-welcome-text slidertwo">
                                    <div class="slider-cell">
                                        <h2 class="sub-title" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">Leading bank loan provider in the market</h2>
                                        <h2 class="main-title" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">Lowest Interest Rate on Home Loan</h2>
                                        <div class="welcome-button" data-animation-in="fadeInRight" data-animation-out="animate-out fadeOutRight">
                                            <a href="#" class="btn btn-default button-primary"><span></span>  App STORE</a>
                                            <a href="#" class="button-secondary btn btn-default"><span></span>  PLAY STORE</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of header area -->
      <!-- .start loan process second -->
    <section class="second-loan-process section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>Simple Loan Process</h2>
                        <p>The passages of Lorem Ipsum available but the majority have suffered alteration embarrased</p>
                    </div>
                </div>
            </div>
            <div class="row process-list">
                <div class="col-md-3 second-process">
                    <div class="second-single-loan-process">
                        <h4>Choose Amount</h4>
                        <div class="icon">
                            <img src="{% static 'frontend/img/pade.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 second-process">
                    <div class="second-single-loan-process">
                        <h4>Provide Document</h4>
                        <div class="icon">
                            <img src="{% static 'frontend/img/dollar.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 second-process">
                    <div class="second-single-loan-process">
                        <h4>Approved Loan</h4>
                        <div class="icon">
                            <img src="{% static 'frontend/img/handshake.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 second-process">
                    <div class="second-single-loan-process">
                        <h4>Get your Money</h4>
                        <div class="icon">
                            <img src="{% static 'frontend/img/get-money.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of loan process two -->
     <!-- .start check your rate button -->
    <section class="check-rate-btn-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="check-your-rate-text">
                        <h4>Checking your loan options does not affect your credit score</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="check-your-rate-btn">
                        <a href="#" class="btn btn-default btn-sm">CHECK YOUR RATE</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of check your rate button -->
    <!-- start loan options checking section -->
    <section class="loan-options-checking">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 checkingbg1 text-center">
                    <div class="single-loan-checking-options">
                        <div class="icon">
                            <img src="{% static 'frontend/img/edom.png' %}" alt="">
                        </div>
                        <div class="content">
                            <h4>No Hidden Fees</h4>
                            <p>A letters bas opposed to using content here
                                <br> english many desktop.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 checkingbg2 text-center">
                    <div class="single-loan-checking-options">
                        <div class="icon">
                            <img src="{% static 'frontend/img/document.png' %}" alt="">
                        </div>
                        <div class="content">
                            <h4>Less Documents</h4>
                            <p>A letters bas opposed to using content here
                                <br> english many desktop.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 checkingbg3 text-center">
                    <div class="single-loan-checking-options">
                        <div class="icon">
                            <img src="{% static 'frontend/img/bripcase.png' %}" alt="">
                        </div>
                        <div class="content">
                            <h4>Specialist Team</h4>
                            <p>A letters bas opposed to using content here
                                <br> english many desktop.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of loan options checking section -->
   

    <!-- start services section -->
    <section class="loan-second-services section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>Our Services</h2>
                        {% comment %} <p>The passages of Lorem Ipsum available but the major have suffered alteration embarrased</p> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="second-single-servces" style="background-image: url({% static 'frontend/img/services-1.png' %})">
                        <div class="display-cell">
                            <div class="icon">
                                <img src="{% static 'frontend/img/icon-1.png' %}" alt="">
                            </div>
                            <div class="content">
                                <h4>Personal Loan</h4>
                                <p>Type specimen book it has no
                                    <br> centuries suffer altered.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="second-single-servces" style="background-image: url({% static 'frontend/img/services-1.png' %})">
                        <div class="display-cell">
                            <div class="icon">
                                <img src="{% static 'frontend/img/car.png' %}" alt="">
                            </div>
                            <div class="content">
                                <h4>Car Loan</h4>
                                <p>Type specimen book it has no
                                    <br> centuries suffer altered.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="second-single-servces" style="background-image: url({% static 'frontend/img/services-1.png' %})">
                        <div class="display-cell">
                            <div class="icon">
                                <img src="{% static 'frontend/img/money.png' %}" alt="">
                            </div>
                            <div class="content">
                                <h4>Business Loan</h4>
                                <p>Type specimen book it has no
                                    <br> centuries suffer altered.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="second-single-servces" style="background-image: url({% static 'frontend/img/services-1.png' %})">
                        <div class="display-cell">
                            <div class="icon">
                                <img src="{% static 'frontend/img/home.png' %}" alt="">
                            </div>
                            <div class="content">
                                <h4>Education Loan</h4>
                                <p>Type specimen book it has no
                                    <br> centuries suffer altered.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="second-single-servces" style="background-image: url({% static 'frontend/img/services-1.png' %})">
                        <div class="display-cell">
                            <div class="icon">
                                <img src="{% static 'frontend/img/education.png' %}" alt="">
                            </div>
                            <div class="content">
                                <h4>Payday Loan</h4>
                                <p>Type specimen book it has no
                                    <br> centuries suffer altered.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="second-single-servces" style="background-image: url({% static 'frontend/img/services-1.png' %})">
                        <div class="display-cell">
                            <div class="icon">
                                <img src="{% static 'frontend/img/card.png' %}" alt="">
                            </div>
                            <div class="content">
                                <h4>Credit Card Loan</h4>
                                <p>Type specimen book it has no
                                    <br> centuries suffer altered.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of services section -->
  
     <!-- start testimonial section -->
    <section class="second-testimonial section-padding">
        <div class="container">
            <div class="second-testimonial-slider owl-carousel">
                <div class="second-single-testimonial">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-md-12">
                            <div class="left-qoute">“</div>
                            <p>“I wаѕ planning tо fіnаnсе my hоuѕе wіth another loan bank but lоаn оffісеr thеrе drорреd thе bаll аnd left mе hаngіng. Mу Rеаltоr tоld mе to ѕее anyone at Loanplus. Twо wееkѕ later, I'm рlеаѕеd to rероrt that I'm living іn mу new hоuѕе аnd couldn't bе happier. Skір the big bоx companies and gеt your next loan wіth Loanplus.”</p>
                            <div class="testimonaol-info">
                                <h4>Mohammed & Aashi</h4>
                                <p>Sales Consultant</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="second-single-testimonial">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-md-12">
                            <div class="left-qoute">“</div>
                            <p>“Loanplus dеlіvеrеd еxасtlу whаt thеу offered. Nоt only dіd thеу оffеr uѕ a better rate, but they offered uѕ ѕіnсеrіtу, kindness, рrоfеѕѕіоnаlіѕm and diligence. Thеу wоrkеd еxtrеmеlу hаrd tо get оur loan approved аnd funded within a very short реrіоd of tіmе. We wіll rесоmmеnd Loanplus tо еvеrуоnе wе knоw.”</p>
                            <div class="testimonaol-info">
                                <h4>Reyansh</h4>
                                <p>IT Consultant</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="second-single-testimonial">
                    <div class="row justify-content-center">
                        <div class="col-lg-10 col-md-12">
                            <div class="left-qoute">“</div>
                            <p>“I was іmрrеѕѕеd with the соnvеnіеnсе and very hеlрful сuѕtоmеr service. The аррrоvаl рrосеѕѕ wаѕ ѕtrеаmlіnеd аnd nоt соmрlісаtеd. I hаd bееn dесlіnеd bу my local bаnk for a personal lоаn, I аm vеrу grаtеful tо Loanplus! ”</p>
                            <div class="testimonaol-info">
                                <h4>Vihaan</h4>
                                <p>MR</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of testimonial section -->


    <!-- start customer faq section -->
    <section class="custom-faq section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>Customer Faq’s</h2>
                        <p>The passages of Lorem Ipsum available but the major have suffered alteration embarrased</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div id="accordion" class="second-accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          For what purpose I can avail Personal Loan?
        </button>
      </h5>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    The passages of Lorem Ipsum available but the majority ave suffer alteration embarrased the point of using Lorem sum is that it has a more-or-less normal distribution.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          How interest is charged?
        </button>
      </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    The passages of Lorem Ipsum available but the majority ave suffer alteration embarrased the point of using Lorem sum is that it has a more-or-less normal distribution.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          What is the rate of interest?
        </button>
      </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    The passages of Lorem Ipsum available but the majority ave suffer alteration embarrased the point of using Lorem sum is that it has a more-or-less normal distribution.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="second-accordion" class="second-accordion">
                        <div class="card">
                            <div class="card-header" id="headingfour">
                                <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapsfour" aria-expanded="false" aria-controls="collapsfour">
          What is the amount of loan that is sanctioned?
        </button>
      </h5>
                            </div>
                            <div id="collapsfour" class="collapse" aria-labelledby="headingfour" data-parent="#second-accordion">
                                <div class="card-body">
                                    The passages of Lorem Ipsum available but the majority ave suffer alteration embarrased the point of using Lorem sum is that it has a more-or-less normal distribution.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingfive">
                                <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsfive" aria-expanded="false" aria-controls="collapsfive">
          How can I repay Personal Loan?
        </button>
      </h5>
                            </div>
                            <div id="collapsfive" class="collapse" aria-labelledby="headingfive" data-parent="#second-accordion">
                                <div class="card-body">
                                    The passages of Lorem Ipsum available but the majority ave suffer alteration embarrased the point of using Lorem sum is that it has a more-or-less normal distribution.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading-six">
                                <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapssix" aria-expanded="false" aria-controls="collapssix">
          What security will I have to provide?
        </button>
      </h5>
                            </div>
                            <div id="collapssix" class="collapse" aria-labelledby="heading-six" data-parent="#second-accordion">
                                <div class="card-body">
                                    The passages of Lorem Ipsum available but the majority ave suffer alteration embarrased the point of using Lorem sum is that it has a more-or-less normal distribution.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading-seven">
                                <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsseven" aria-expanded="false" aria-controls="collapsseven">
          Can I get a tax benefit on the Home Loan?
        </button>
      </h5>
                            </div>
                            <div id="collapsseven" class="collapse" aria-labelledby="heading-seven" data-parent="#second-accordion">
                                <div class="card-body">
                                    The passages of Lorem Ipsum available but the majority ave suffer alteration embarrased the point of using Lorem sum is that it has a more-or-less normal distribution.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="heading-eight">
                                <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseight" aria-expanded="false" aria-controls="collapseight">
          What is the rate of interest?
        </button>
      </h5>
                            </div>
                            <div id="collapseight" class="collapse" aria-labelledby="heading-eight" data-parent="#second-accordion">
                                <div class="card-body">
                                    The passages of Lorem Ipsum available but the majority ave suffer alteration embarrased the point of using Lorem sum is that it has a more-or-less normal distribution.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end of customer faq section -->
 

    <!-- start footer area -->
    <section class="footer-area footer-two section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <div class="footer-widget">
                        <div class="footer-title">
                            <h4>About Us</h4>
                        </div>
                        <p>Over 24 years experience and knowledge but the majority suffered alteration barrased many desktop publishing ages.</p>
                        <div class="footer-two-social">
                            <a href="#" class="fa fa-facebook-f"></a>
                            <a href="#" class="fa fa-twitter"></a>
                            <a href="#" class="fa fa-google-plus"></a>
                            <a href="#" class="fa fa-pinterest"></a>
                            <a href="#" class="fa fa-linkedin"></a>
                            <a href="#" class="fa fa-instagram"></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-lg-2">
                    <div class="footer-widget pages-widget">
                        <div class="footer-title">
                            <h4>Get a Loan</h4>
                        </div>
                        <ul>
                            <li><a href="#">How it works</a></li>
                            <li><a href="#">Express Visa card</a></li>
                            <li><a href="#">Apply</a></li>
                            <li><a href="#">Costs & Tax</a></li>
                            <li><a href="#">FAQs </a></li>
                            <li><a href="#">Contact us </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5 col-lg-3">
                    <div class="footer-widget recent-post">
                        <div class="footer-title">
                            <h4>Opening Hours</h4>
                        </div>
                        <ul class="opening-time">
                            <li>Mon : 8.30am to 7.00pm</li>
                            <li>Tue : 8.30am to 7.00pm</li>
                            <li>Wed : 8.30am to 7.00pm</li>
                            <li>Thu : 8.30am to 7.00pm</li>
                            <li>Fri : 8.30am to 7.00pm</li>
                            <li>Sat - Sun : CLOSED</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget">
                        <div class="footer-title">
                            <h4>Contact us</h4>
                        </div>
                        <div class="contact-widget">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <img src="{% static 'frontend/img/map-pin.png' %}" alt="">
                                    </div>
                                    <div class="content">
                                        <p>Loanplus 201,GJ IN.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <img src="{% static 'frontend/img/envalope-2.png' %}" alt="">
                                    </div>
                                    <div class="content">
                                        <p>mail@loanplus.com
                                            <span>reply within 2 Hours</span></p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <img src="{% static 'frontend/img/envalope-2.png' %}" alt="">
                                    </div>
                                    <div class="content">
                                        <p>+91 9900000120
                                            <span>Call @ 8.30am to 5.00pm </span></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="copy-right-section second-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <div class="copyright-text">
                        <p><i class="fa fa-copyright"></i> 2019 LoanPlus. All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <ul class="footer-nav">
                        <li><a href="{% url 'index' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About us</a></li>
                        <li><a href="{% url 'services' %}">Services</a></li>
                        <li><a href="#">Contactus</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end of footer area -->
    <!-- Optional JavaScript -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCn4uayw359fjMh4P9i2rKKZYHzXaqTRNs"></script>
    <script src="{% static 'frontend/js/jquery-3.3.1.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script src="{% static 'frontend/js/popper.min.js' %}"></script>
    <script src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'frontend/js/gmap.js' %}"></script>
    <script src="{% static 'frontend/js/jquery.nice-select.js' %}"></script>
    <script src="{% static 'frontend/js/menumaker.js' %}"></script>
    <script src="{% static 'frontend/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'frontend/js/slider.js' %}"></script>
    <script src="{% static 'frontend/js/calculator.js' %}"></script>
    <script src="{% static 'frontend/js/active.js' %}"></script>
	<script>
	$(window).scroll(function() {
		if ($(this).scrollTop() > 50){  
			$('.second-header').addClass("sticky");
		}
		else{
			$('.second-header').removeClass("sticky");
		}
	});	
	</script>
</body>

<!-- Mirrored from thegenius.co/html/loanplus/preview/index-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 22 Oct 2019 08:01:15 GMT -->
</html>