{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Authentication forms">
    <meta name="author" content="Loan Plus">

    <title>Login | LoanPlus</title>
    <link href="{% static 'frontend/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'frontend/css/login.css' %}">

    
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/fontawesome-all.min.css' %}">
</head>

<body>
    <div class="forny-container">
        
<div class="forny-inner">
    <div class="mb-6 text-center forny-logo">
        <a href="{% url 'index' %}"><img src="{% static 'frontend/img/logo-2.png' %}"></a>
    </div>
    <div class="forny-form">
        <div class="text-center">
            <h4>Login into account</h4>
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="sufee-alert alert with-close alert-primary alert-dismissible fade show">
                        <span class="badge badge-pill badge-primary">Success</span>
                        {{message}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                {% else %}
                    <div class="alert alert-danger" role="alert">
                     {{message}}
                    </div>
                {% endif %}
                    
            
            {% empty %}    
                    <p class="mb-10">Use your credentials to access your account.</p>
            {% endfor %}     
        </div>
        <form action="login" method="POST">
        {% csrf_token %}
            
    <div class="form-group">
        
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-envelope fa-lg"></i>
                </span>
            </div>
            
    <input required  class="form-control" name="uname" type="text"
    placeholder="Username">

        </div>
    </div>

            
    <div class="form-group password-field">
        
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="fa fa-lock fa-lg"></i>
                </span>
            </div>
            
    <input required  class="form-control" name="password" type="password"
    placeholder="Password">

            <div class="input-group-append cursor-pointer">
                <span class="input-group-text">
                    <i class="fa fa-eye fa-lg"></i>
                </span>
            </div>
        </div>
    </div>


            <div class="row mt-6 mb-6">
                <div class="col-6 d-flex align-items-center">
                    
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="cb1">
        <label class="custom-control-label" for="cb1">
        </label>
    </div>

                </div>
                <div class="col-6 text-right">
                    <a href="02_reset.html">Forgot password?</a>
                </div>
            </div>

            <div>
                <input class="btn btn-primary btn-block" type="submit" value="Login">
            </div>

            <div class="line mt-10 mb-4">
                <span>or </span>
            </div>

            <div class="text-center">
                <div class="d-inline-block text-center">
                    
    <button class="btn btn-icon btn-flat text-facebook">
        
        
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <defs>
        <style>.a{fill:currentColor;}.b{fill:#fff;}</style>
    </defs>
    <path class="a" d="M29,24.068a4.928,4.928,0,0,1-4.927,4.927H9.932A4.926,4.926,0,0,1,5,24.068V9.932A4.933,4.933,0,0,1,9.932,5h14.14A4.932,4.932,0,0,1,29,9.932Z" transform="translate(-5 -5)"/>
    <path class="b" d="M212.907,72.145h2.338V68.7h-3.5a4.885,4.885,0,0,0-3.605,1.661s-.957.845-.972,3.327h0v2.589H203.7v3.662h3.466V89.4h3.993V79.935h3.435l.481-3.662h-3.916V73.684h0A1.548,1.548,0,0,1,212.907,72.145Z" transform="translate(-195.062 -65.401)"/>
</svg>
    </button>

                </div>
                <div class="d-inline-block text-center">
                    
    <button class="btn btn-icon btn-flat text-google">
        
        
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <defs>
        <style>.a{fill:currentColor;}.b{fill:#fff;}</style>
    </defs>
    <g transform="translate(0)">
        <path class="a" d="M29,23.468A4.932,4.932,0,0,1,24.073,28.4H9.932A4.933,4.933,0,0,1,5,23.468V9.327A4.929,4.929,0,0,1,9.932,4.4h14.14A4.928,4.928,0,0,1,29,9.327Z" transform="translate(-5 -4.4)"/>
        <g transform="translate(2.564 5.898)">
            <path class="b" d="M68.8,130.8H62.99v2.076H66.47a3.739,3.739,0,1,1-3.525-5.019,3.669,3.669,0,0,1,2.371.868h.1l1.533-1.558a5.891,5.891,0,0,0-4-1.568,6.045,6.045,0,0,0,0,12.088,5.847,5.847,0,0,0,3.628-1.247,6.05,6.05,0,0,0,1.647-1.987,6.179,6.179,0,0,0,.478-1.237,6.36,6.36,0,0,0,.1-1.622C68.8,131.329,68.8,131.067,68.8,130.8Z" transform="translate(-57 -125.6)"/>
            <rect class="b" width="1.745" height="5.206" transform="translate(15.318 3.421)"/>
            <rect class="b" width="5.206" height="1.74" transform="translate(13.588 5.157)"/>
        </g>
    </g>
</svg>
    </button>

                </div>
                <div class="d-inline-block text-center">
                    
    <button class="btn btn-icon btn-flat text-twitter">
        
        
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <defs>
        <style>.a{fill:currentColor;}.b{fill:#fff;}</style>
    </defs>
    <path class="a" d="M29,24.073A4.929,4.929,0,0,1,24.068,29H9.932A4.932,4.932,0,0,1,5,24.073V9.932A4.933,4.933,0,0,1,9.932,5H24.073A4.932,4.932,0,0,1,29,9.932Z" transform="translate(-5 -5)"/>
    <path class="b" d="M89.322,125.824c6.142,0,9.5-4.28,9.5-7.991,0-.12,0-.241-.01-.361a6.2,6.2,0,0,0,1.664-1.456,7.589,7.589,0,0,1-1.917.441,2.979,2.979,0,0,0,1.469-1.552,7.445,7.445,0,0,1-2.122.682,3.652,3.652,0,0,0-2.437-.887,3.108,3.108,0,0,0-3.338,2.808,2.407,2.407,0,0,0,.086.642,10.174,10.174,0,0,1-6.882-2.936,2.466,2.466,0,0,0-.453,1.412,2.718,2.718,0,0,0,1.488,2.339,3.789,3.789,0,0,1-1.512-.353v.036a2.979,2.979,0,0,0,2.675,2.752,3.891,3.891,0,0,1-.877.1,4.063,4.063,0,0,1-.629-.052,3.323,3.323,0,0,0,3.119,1.954,7.779,7.779,0,0,1-4.945,1.163,10.85,10.85,0,0,0,5.122,1.26" transform="translate(-80.086 -108.059)"/>
</svg>
    </button>

                </div>
            </div>

            <div class="text-center mt-10">
                Don't have an account? <a href="{% url 'register' %}">Register here</a>
            </div>
        </form>
    </div>
</div>

    </div>

    <script src="{% static 'frontend/js/jquery-3.3.1.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="{% static 'frontend/js/login.js' %}"></script>
    
</body>

</html>